<h1>New quiz</h1>

<%= form_for :quiz, url: quiz_index_path do |f| %>

  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quiz.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @quiz.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.submit 'new', :class => 'btn'  %>
  </p>
<% end %>

<%= link_to 'Back', quiz_index_path %>
