<h1>
  <strong>Title:</strong>
  <%= @quiz.title %>
</h1>
<% @quizId = @quiz.id %>
<% @result = @quiz.results.find(params[:id]) %>
<% if !@result.hasSelectedOneAnswer %>
  <div>
    <h2>You have not filled in one answer per question</h2>
  </div>
<% end %>
<% if !@result.first_attempt %>
  <div>
    <h2>Sorry. You can only attempt the quiz once</h2>
  </div>
<% end %>
<p>Please select one answer per question</p>

<%= form_tag(quiz_result_path(@quizId), method: "patch") do %>
<% @qNumber=1 %>
  <% @quiz.questions.each do |question| %>
    <br/>
    <p>      
      <strong>Q
      <%= @qNumber %>
        :</strong>
      <%= question.question %>
      <% @qNumber+=1 %>
    </p>
    
    <% question.answers.each do |answer| %>
      <p>
        <% @qid = question.id.to_s %>
        <% @aid = answer.id.to_s %>
        <%= check_box_tag @qid+"-"+@aid %>
        <%= answer.answer %>
      </p>
    <% end %>
    
  <% end %>

  <%= submit_tag 'Submit' %>

<% end %>